<section id="about">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <h2>About Me</h2>
            <hr />
        </div>
        </div>
    <div class="row">
        <p>
            I'm currently working at Google (NASDAQ: GOOGL) to protect billions of YouTube user from abusive comments. The weapons I use are Natural Language Processing, Computer Vision and Machine Learning.
        </p>
        <p>
            From 2017 to 2019, I worked at ServiceNow (NASDAQ: NOW) to help thousands of company to boost up their business using natural language processing and machine learning. I designed and built the machine learning pipeline and delivered 2 machine learning solutions with 2 patents. I also lead 2 engineers.
        </p>
        <p>
            Before 2017, I did researches focus on word representation, abusive tweets detection, natural language processing.
        </p>
    </div>
    </div>
</section>
