<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        	</p>
			<ul>
                <li>
                    <b>Abuse Detection</b>. Protect humans from uncontrolled technologies.
                </li>
                <li>
                    <b>Natural Language Processing</b>. Teach computers to understand the carrier of the human culture, the basic element in human soul.
                </li>
                <li>
                    <b>Artificial Intelligence</b>. Teach robots humanity.
                </li>
			</ul>
		</div>
        <div class="col-sm-6">
            <h3 style="margin-top:0">Recent Projects</h3>
                <ul>
                    <li>
                        Constructing state-of-the-art deep learning models (bert, attention-based, etc) and stable pipelines under tens thousands of clusters to protect billion users from millions daily comments within seconds.
                    </li>
                    </ul>
                    <h3>Other Things</h3>
                    <ul>
                    <li>
                        Volunteer at Silicon Valley Christian Assembly (since 2017).
                    </li>
                    <li>
                        Volunteer at BUPT Alumni Association of America (since 2019).
                    </li>
                </ul>
            </div>
        </div>
  </div>
</section>
